<HTML>
<head>
</head>
<body>
<form method="POST" action="modifierReclamation1.php">
<table>
<caption>-Ajouter reclamation-</caption>
<tr>
<td>Id:</td>
<td><input type="number" name="id_reclam"></td>
</tr>
<tr>
<td>Objet:</td>
<td><input type="text" name="objet"></td>
</tr>
<tr>
<td>Date:</td>
<td><input type="text" name="date"></td>
</tr>
<tr>
<td>Id client:</td>
<td><input type="number" name="id_client"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="modifier" value="modifier"></td>
</tr>
</table>
</form>
</body>
</HTMl>